.DS_Store
*.log
backupy_bazy_danych_strony_hufca/
.idea
.vscode/
codealike.json
variousAssets/
themes/demo
themes/responsiv-clean


# Temporarily gitignored:
bootstrap/
storage/
vendor/
plugins/devinx
plugins/october
plugins/rainlab
plugins/shahiemseymor