title = "Home"
url = "/:page?"
layout = "index"
is_hidden = 0

[DevINX\ContactUs\Components\ContactForm contactForm]
injectBootstrapAssets = 0

[staticMenu MenuGlowne]
code = "menu-glowne"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "strona-glowna"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "singleBlogPost"

[builderList]
modelClass = "ScoutsWarsawZoliborz\RozkazyHufca\Models\Rozkaz"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "order_issue_number"
noRecordsMessage = "Brak rozkazów"
detailsPage = "rozkaz"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
recordsPerPage = 5
pageNumber = "{{ :page }}"
sortColumn = "order_date"
sortDirection = "desc"
==
<!-- Banner -->
<section id="banner" class="major">
	<div class="inner">
		<header class="major">
			<img id='district-logo-hero' src="{{'assets/images/zoliborz_logo.png'|theme}}" alt="" srcset="">
			<h1></h1>
		</header>
		<div class="content">
			<p class='greetings-paragraph'>Czuwaj! To strona hufca ZHP Warszawa-Żoliborz<br />
				Sprawdź bieżące wydarzenia poniżej lub zajrzyj do menu!</p>
			<ul class="actions scrollLinks">
				<li>
					<a href="#one" class="button scrollLinks--btn scrolly">
						<span>Aktualności</span>
						<i class="far fa-2x fa-newspaper"></i>
					</a>
				</li>
				<!-- <li>
					<a href="#two" class="button scrollLinks--btn scrolly">
						<span> Kalendarz </span>
						<i class="far fa-2x fa-calendar-alt"></i>
					</a>
				</li> -->
			</ul>
		</div>
	</div>

	{% if MenuGlowne.menuItems %}
        {% partial 'Menu-glowne-hero' items=MenuGlowne.menuItems %}
	{% endif %}
</section>



<!-- Main -->
<div id="main">

		{% for item in MenuGlowne.menuItems %}
			{% if item.items %}
				{% partial 'Menu-glowne-subsection-test' items=item.items submenu_to=item.title %}
			{% endif %}
		{% endfor %}


	<!-- <section id='dcsStatementsWidget'>
		<div class='custom-widget widget-space-1'>
			<header class="major">
				<h2>Rozkazy i komunikaty</h2>
			</header>
		</div>
		<div class='custom-widget widget-space-2'>
			<div class="widget-list">
				{% set records = builderList.records %}
				{% set displayColumn = builderList.displayColumn %}
				{% set noRecordsMessage = builderList.noRecordsMessage %}
				{% set detailsPage = builderList.detailsPage %}
				{% set detailsKeyColumn = builderList.detailsKeyColumn %}
				{% set detailsUrlParameter = builderList.detailsUrlParameter %}

				<ul class="record-list">
					{% for record in records %}
						<li>
							{# Use spaceless tag to remove spaces inside the A tag. #}
							{% spaceless %}
								{% if detailsPage %}
									<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
								{% endif %}

								Rozkaz {% if record.is_special_order %} Specjalny {% endif %} L{{ attribute(record, displayColumn) }}/{{ str_limit(record.order_date,4, '')   }}

								{% if detailsPage %}
									</a>
								{% endif %}
							{% endspaceless %}
						</li>
					{% else %}
						<li class="no-data">{{ noRecordsMessage }}</li>
					{% endfor %}
				</ul>

				{% if records.lastPage > 1 %}
					<ul class="pagination">
						{% if records.currentPage > 1 %}
							<li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
						{% endif %}

						{% for page in 1..records.lastPage %}
							<li class="{{ records.currentPage == page ? 'active' : null }}">
								<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
							</li>
						{% endfor %}

						{% if records.lastPage > records.currentPage %}
							<li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
						{% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
	</section> -->

	<!-- Blog area -->
	<section id="one" class="tiles">
		{% set posts = blogPosts.posts %}
		{% for post in posts %}
		{% if post.published > 0 %}
		
			
		<article>
			{% else %}
			<article class='fade-unpublished'>
				{% endif %}
				{% for img in post.featured_images|slice(0, 1) %}
				<span class="image">
					<img src="{{img.path}}" alt="Background image - theme for this post">
				</span>
				{% endfor %}
				<header class="major">
					<h3><a href="{{ post.url }}" class="link">{{ post.title }}</a></h3>
					<p class="info">
					</p>
					<p class="excerpt">{{ post.summary|raw }}</p>
					{% if post.published == 0 %}
					<p class='unpublished-post-message'>Post jeszcze nie opublikowany - widzisz go bo jesteś zalogowanym edytorem</p>
					{% endif %}
				</header>
			</article>
			{% endfor %}

			{% if posts.lastPage > 1 %}
			<ul class="pagination">
				{% if posts.currentPage > 1 %}
				<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Poprzednie</a></li>
				{% endif %}

				{% for page in 1..posts.lastPage %}
				<li class="{{ posts.currentPage == page ? 'active' : null }}">
					<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
				</li>
				{% endfor %}

				{% if posts.lastPage > posts.currentPage %}
				<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Następne &rarr;</a></li>
				{% endif %}
			</ul>
			{% endif %}
	</section>

	<!-- Two -->
<!--     <section id="two">
    <div class="inner">
        <header class="major">
            <h2>Tu będzie kalendarz hufca</h2>
        </header>
        <p></p>
        <img style='width: 60%;margin: 0 auto;position: relative;display: block;' src="https://www.emoji.co.uk/files/emoji-one/objects-emoji-one/1969-calendar.png"
         alt="calendarz - placeholder">
    </div>
</section> -->

</div>