title = "Pojedyńczy-post"
url = "/aktualnosci/post/:slug"
layout = "default"
description = "Strona z layoutem wyświetlającym pojedynczy post z hufcowego bloga \"Aktualności\"."
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404
==
<?php
function onEnd(){
	// Tutaj zdobywam informację jaki numer "id" ma obecnie wyświetlany post
	$this['thisPostId'] = $this -> post -> attributes['id']; 


	// Tutaj ustawiamy tytul strony (który wyświetla się na karcie przeglądarki z tą otwartą stroną) na taki, jaki jest naglówek naszego posta.
	if ($this->post){
		$this->page->title = $this->post->title;
	}
	
	// Tutaj pobieram informację z bazy danych o poprzednim poście (który jednocześnie jest opublikowany)
	
	$this['nextPost'] = Db::table ('rainlab_blog_posts') -> where('id', '>', $this['thisPostId']) -> where('published', 1) -> orderBy('id', 'asc') -> first();

	// Tu robię to samo, ale żeby zdobyć następny post po tym, który jest obecnie wyświetlany
	$this['previousPost'] = Db::table ('rainlab_blog_posts') -> where('id', '<', $this['thisPostId']) -> where('published', 1) -> orderBy('id', 'desc') -> first();

}
?>
==
{% set post = blogPost.post %}

<!-- One -->
<section id="one">
	<div class="inner single-blog-post">
		<header class="major">
			<h1>{{post.title}}</h1>
		</header>
		{# {% if post.featured_images.count %}
		<span class="image main">
			{% for image in post.featured_images %}
			<img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" />
			{% endfor %}
		</span>
		{% endif %} #}

		<p>{{ post.content_html|raw }}</p>

	</div>
</section>

<section id="two" class="blog-post-btns-area">
	<a href="{{'home'|page}}" class="button special blog-action-btn">
		<i class="fas fa-2x fa-angle-double-left"></i>
		<span>Wróć do strony głównej</span>
	</a>

	<!-- Jeśli jesteś zalogowany jako edytor, będziesz mógł wyświetlić posty które jeszcze nie są opublikowane - w takim wypadku nie chcemy na takiej stronie wyświetlać przycisków  "poprzedni/następny post" bo te są skonstruowane tak, by odsyłać tylko do "najbliższych" opublikowanych postów  -->
	{% if post.published > 0 %}
	 <!-- Jeśli jest to obecnie pierwszy post (tj. zapytanie w bazie danych o opublikowany post z niższym id zwraca nam wartość NULL) to nie wyświetlamy przycisku "poprzedni post"  -->
	{% if previousPost != null %}
	<a href="{{previousPost.slug}}" class="button blog-action-btn">
		<i class="fas fa-2x fa-long-arrow-alt-left"></i>
		<span>Poprzedni post</span>
	</a>
	{% endif %}

	<!-- Jeśli jest to obecnie ostatni post (tj. zapytanie w bazie danych o opublikowany post z wyższym id zwraca nam wartość NULL) to nie wyświetlamy przycisku "następny post" -->
	{% if nextPost != null %}
	<a href="{{nextPost.slug}}" class="button blog-action-btn">
		<span>Następny post</span>
		<i class="fas fa-2x fa-long-arrow-alt-right"></i>
	</a>
	{% endif %}
	{% endif %}

</section>