[contactForm]
injectBootstrapAssets = 0
==
<section id="contact">
	<div id='contact-form' class="inner">
		<section id='contact-form--section'>
		<div class="ml-form-embed"
			data-account="1046486:z0f0s7e3j5"
			data-form="1363564:d7m9e5">
		</div>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<a href="mailto:biuro@zoliborz.zhp.pl">
					<span class="icon alt fa-envelope"></span>
					</a>
					<h3>Email</h3>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Adres</h3>
					<span>
						ul. Przybyszewskiego 32/34<br />
						01-824 Warszawa<br />
					</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<a href="https://www.facebook.com/ZHP.Zoliborz">
					<span class="icon alt fab fa-facebook"></span>
					</a>
					<h3>Social media</h3>
				</div>
			</section>
		</section>
	</div>
</section>