==
<nav id="menu">
	<ul id='mobileMenu' class="links">
		<li><a href="{{ 'home'|page }}">Start</a></li>
		<li><a class="mobile-menu-link" href="#" data-menu-name="Komenda hufca">Komenda hufca</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Komenda hufca">
			<li>
				<a href="{{"/landing" |app}}">Komenda hufca</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Sąd harcerski hufca</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Komisja rewizyjna hufca</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Zespoły hufca">Zespoły hufca</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Zespoły hufca">
			<li>
				<a href="{{"/landing" |app}}">Żoliborska Szkoła Kadry Instruktorskiej</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Komisja Stopni Instruktorskich</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Namiestnictwo zuchowe</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Namiestnictwo harcerskie</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Namiestnictwo starszoharcerskie</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Środowiska w hufcu">Środowiska w hufcu</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Środowiska w hufcu">
			<li>
				<a href="{{"/landing" |app}}">Mapa środowisk</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Lista środowisk</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Kontakt">Kontakt</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Kontakt">
			<li>
				<a href="{{"/landing" |app}}">Klik!</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Strefa instruktora">Strefa instruktora</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Strefa instruktora">
			<li>
				<a href="{{"/landing" |app}}">Staże w hufcu</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Hufcowe wykazy</a>
			</li>
			<li>
				<a href="{{"/landing" |app}}">Jak to załatwić?</a>
			</li>
		</ul>
	</ul>

	<ul class="actions vertical">
		{# <li><a href="#" class="button special fit">Zagajnik</a></li> #}
		{# <li><a href="#" class="button fit">Log In</a></li> #}
		{# <li><a class="button fit" href="#" data-menu-name="Środowiska w hufcu">Środowiska w hufcu</a></li> #}
	</ul>
</nav>