==
<nav id="menu">
	<ul id='mobileMenu' class="links">
		<li><a href="{{ 'home'|page }}">Start</a></li>
		<li><a class="mobile-menu-link" href="#" data-menu-name="Komenda hufca">Komenda hufca</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Komenda hufca">
			<li>
				<a href="{{ 'komenda-hufca'|staticPage }}">Komenda hufca</a>
			</li>
			<li>
				<a href="{{ 'sad-harcerski-hufca'|staticPage }}">Sąd harcerski hufca</a>
			</li>
			<li>
				<a href="{{ 'komisja-rewizyjna-hufca'|staticPage }}">Komisja rewizyjna hufca</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Zespoły hufca">Zespoły hufca</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Zespoły hufca">
			<li>
				<a href="{{ 'zoliborska-szkola-kadry-instruktorskiej'|staticPage }}">Żoliborska Szkoła Kadry Instruktorskiej</a>
			</li>
			<li>
				<a href="{{ 'komisja-stopni-instruktorskich'|staticPage }}">Komisja Stopni Instruktorskich</a>
			</li>
			<li>
				<a href="{{ 'namiestnictwo-zuchowe'|staticPage }}">Namiestnictwo zuchowe</a>
			</li>
			<li>
				<a href="{{ 'namiestnictwo-harcerskie'|staticPage }}">Namiestnictwo harcerskie</a>
			</li>
			<li>
				<a href="{{ 'namiestnictwo-starszoharcerskie'|staticPage }}">Namiestnictwo starszoharcerskie</a>
			</li>
			<li>
				<a href="{{ 'namiestnictwo-wedrownicze'|staticPage }}">Namiestnictwo wędrownicze</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Środowiska w hufcu">Środowiska w hufcu</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Środowiska w hufcu">
			<li>
				<a href="{{ 'srodowiska-w-hufcu-mapa'|staticPage }}">Mapa środowisk</a>
			</li>
			<li>
				<a href="{{ 'srodowiska-w-hufcu-lista-srodowisk'|staticPage }}">Lista środowisk</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Kontakt">Kontakt</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Kontakt">
			<li>
				<a href="{{ 'kontakt'|staticPage }}">Klik!</a>
			</li>
		</ul>

		<li><a class="mobile-menu-link" href="#" data-menu-name="Strefa instruktora">Strefa instruktora</a></li>
		<ul class='mobile-submenu-expanded' data-menu-name="Strefa instruktora">
			<li>
				<a href="{{ 'hufcowe-staze'|staticPage }}">Staże w hufcu</a>
			</li>
			<li>
				<a href="{{ 'hufcowe-wykazy'|staticPage }}">Hufcowe wykazy</a>
			</li>
			<li>
				<a href="{{ 'jak-zalatwic'|staticPage }}">Jak to załatwić?</a>
			</li>
		</ul>
	</ul>

	<ul class="actions vertical">
		{# <li><a href="#" class="button special fit">Zagajnik</a></li> #}
		{# <li><a href="#" class="button fit">Log In</a></li> #}
		{# <li><a class="button fit" href="#" data-menu-name="Środowiska w hufcu">Środowiska w hufcu</a></li> #}
	</ul>
</nav>