==
<nav id="menu">
	<ul id='mobileMenu' class="links">
		<li><a href="{{ 'home'|page }}">Start</a></li>
		{% for item in items %}
			<li>
				<a  class='mobile-menu-link'
					href="{{ item.url }}"
					data-menu-name='{{item.title}}'>
					{{ item.title }}
				</a>
			</li>
			{% if item.items %}
				<ul class='mobile-submenu-expanded' data-menu-name="{{item.title}}">
					{% for subItem in item.items %}
						<li>
							<a href="{{subItem.url}}">{{subItem.title}}</a>
						</li>
					{% endfor %}
				</ul>		
			{% endif %}
		{% endfor %}
	</ul>
</nav>